<h1>Find Flights</h1>

<div class='flight-info-form'>
  <%= form_with(model: @url: "/flights", method: "get") do |form| %>
    <div>
      <h2><%= form.label(:from, "Departing Airport") %></h2>
      <%= form.select(:from, @airport_options) %>
    </div>
    <div>
      <h2><%= form.label(:to, "Arriving Airport") %></h2>
      <%= form.select(:to, @airport_options) %>
    </div>
    <div>
      <h2><%= form.label(:passengers, "Number of Passengers") %></h2>
      <%= form.select(:passengers, (1..4)) %>
    </div>
    <div>
      <h2>Date</h2>
      <%= form.label(:dateyear, "Year") %>
      <%= form.select(:dateyear, @date_year) %>
      <%= form.label(:datemonth, "Month") %>
      <%= form.select(:datemonth, @date_month) %>
      <%= form.label(:dateday, "Day") %>
      <%= form.select(:dateday, @date_day) %>
    </div>
    <%= form.submit "Pick Flights" %>
  <% end %>
</div>

<% if params[:from] %>