<h1>Find Flights</h1>

<div class='flight-info-form'>
  <%= form_with(url: "/flights", method: "get", local: true) do |form| %>
    <div>
      <h2><%= form.label('specs[from]', "Departing Airport") %></h2>
      <%= form.select('specs[from]', @airport_options) %>
    </div>
    <div>
      <h2><%= form.label('specs[to]', "Arriving Airport") %></h2>
      <%= form.select('specs[to]', @airport_options) %>
    </div>
    <div>
      <h2><%= form.label('specs[passengers]', "Number of Passengers") %></h2>
      <%= form.select('specs[passengers]', (1..4)) %>
    </div>
    <div>
      <h2>Date</h2>
      <%= form.label('specs[dyear]', "Year") %>
      <%= form.select('specs[dyear]', @date_year) %>
      <%= form.label('specs[dmonth]', "Month") %>
      <%= form.select('specs[dmonth]', @date_month) %>
      <%= form.label('specs[dday]', "Day") %>
      <%= form.select('specs[dday]', @date_day) %>
    </div>
    <div>
      <%= form.submit "Search" %>
    </div>
  <% end %>
</div>

<% unless @available_flights.nil? %>
  <% if @available_flights.exists? %>
  <h2>Available Departure Times</h2>
    <%= form_with(url: "/bookings/new", method: "get", local: true) do |form| %>
        <%= form.collection_radio_buttons(:flight_choice, @available_flights, :id, :datetime) do |flight| %>
          <%= flight.label { flight.radio_button + " " + flight.text.strftime("%l:%M%p %m/%d/%Y") } %><br>
        <% end %>
        <%= form.hidden_field(:passengers, value: @passengers)%>
        <%= form.submit "Book" %>
      <% end %>
  <% else %>
    <h2>No flights returned from this query!</h2>
  <% end %>
<% end %>

