<h1>Confirm Booking with Passenger Information</h1>

<p>The flight you chose is listed below<p>

<%= render "flight_display",  :flight => @flight %>

<div class='passenger-info'>
  <%= form_with(model: @booking, local: true) do |new_booking| %>
    <%= new_booking.hidden_field(:flight_id, value: @flight.id) %>
    <ul>
    <% i=1 %>
      <%= new_booking.fields_for :passengers do |passenger_form| %>
          <div class='new-passenger'>
            <p><%= "Passenger #{i}"%></p>
            <li>
              <%= passenger_form.label :name %>
              <%= passenger_form.text_field :name %>
              <%= passenger_form.label :email %>
              <%= passenger_form.text_field :email %>
            </li>
          </div>
        <% i += 1 %>
      <% end %>
    </ul>
    <div class='submit-button'><%= new_booking.submit "Book"%></div>
  <% end %>
</div>